@import url('https://fonts.googleapis.com/css?family=Abril+Fatface%7CRaleway');

.App {
  text-align: center;
}

.topPic {
	width: 90%;
	margin-bottom: 20px;
}

.twoPic {
	height: 100%;
	display: inline;
	margin: 10px;
}

.sidePics {
	margin-top: 20px;
	margin-bottom: 200px;
	height: 1287px;
}

.midText {
	width: 75%;
	margin: auto;
	font-family: 'Raleway';
	font-size: 25px;
	letter-spacing: 1px;
}

.pure-button {
	height: 90px;
	width: 90px;
	position: fixed;
	top: 2px;
	left: 2px;
}
